[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pytest = "*"
pytest-html = "*"
PyHamcrest = "*"
requests = "*"
pymysql = "*"
SQLAlchemy = "*"

[dev-packages]
pylint = "*"
flake8 = "*"
pydocstyle = "*"
faker = "*"

[requires]
python_version = "3.7"
